.navbar{
    min-height: 56px;
    background-color: rgb(193, 255, 148, 100);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.navbar__menus{
    display: flex;
    align-items: center;
}

.navbar__menu{
    background-color: rgb(193, 255, 148, 100);
    margin-left: 16px;
    margin-right: 16px;
    height: 32px;
    min-width: 48px;
}